.horizontal{
    display: flex;
    align-items: center;
}

.vertical {
    display: flex;
    flex-direction: column;
}

.justify-content-between{
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.w-25 {
    width: 25%;
}

.w-100{
    width: 100%;
}

.h-100 {
    height: 100%;
}

.gap-3{
    gap: 3rem;
}

.mx-auto {
    margin: 0px auto 0px auto;
}

.my-auto{
    margin: auto 0px auto 0px;
}

.ms-auto{
    margin-left: auto;
}

.mb-3 {
    margin-bottom: 3rem;
}

.mb-5 {
    margin-bottom: 5rem;
}

.mb-auto {
    margin-bottom: auto;
}

.text-left{
    text-align: left;
}

.align-center{
    align-items: center;
}

.w-auto{
    width: auto;
}

.card {
    border: 2px solid #A9A9A9;
    border-radius: 15px;
    padding: 1rem;
}

.form-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    padding: 1rem;
    color: white;
    border-radius: 1rem;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.btn-primary {
    background-color: #3CB371;
}

.btn-secondary {
    background-color: #008B8B;
}

.btn-danger {
    background-color: #DC143C;
}

.logo{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 3rem;
}