USE [master]
GO
/****** Object:  Database [BookNestDb]    Script Date: 06.11.2025 14:30:59 ******/
CREATE DATABASE [BookNestDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BookNestDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BookNestDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BookNestDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BookNestDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BookNestDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BookNestDb]
GO
/****** Object:  User [BookNestUser]    Script Date: 06.11.2025 14:31:00 ******/
CREATE USER [BookNestUser] FOR LOGIN [BookNestUser] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [BookNestUser]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [BookNestUser]
GO
/****** Object:  UserDefinedFunction [dbo].[GetAuditRoomBookingsByHotel]    Script Date: 06.11.2025 14:31:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[GetAuditRoomBookingsByHotel](
	@AppUserId INT,
	@HotelId INT
)
RETURNS @Result TABLE(
	audit_app_user_room_id INT,
	old_start_date DATE,
	new_start_date DATE,
	old_end_date DATE,
	new_end_date DATE,
	action_type VARCHAR(20),
	action_date_time DATETIME,
	room_name NVARCHAR(200),
	app_user_fullname NVARCHAR(150),
	app_user_email VARCHAR(254),
	phone_number VARCHAR(20)
)
AS
BEGIN
	IF NOT EXISTS (
		SELECT 1 
		FROM AppUser u 
		JOIN Hotel h
		ON u.app_user_id = h.app_user_id
		WHERE u.app_user_id = @AppUserId
		AND h.hotel_id = @HotelId)
	BEGIN
		RETURN;
	END
	INSERT INTO @Result (audit_app_user_room_id, old_start_date, new_start_date, old_end_date, new_end_date, action_type, action_date_time, room_name, app_user_fullname, app_user_email, phone_number)
	SELECT aur.audit_app_user_room_id, aur.old_start_date, aur.new_start_date, aur.old_end_date, aur.new_end_date, aur.action_type, aur.action_date_time, r.room_name, u.app_user_fullname, u.app_user_email, u.phone_number
	FROM AuditAppUserRoom aur
	JOIN AppUser u
	ON aur.app_user_id = u.app_user_id
	JOIN Room r
	ON aur.room_id = r.room_id
	JOIN Hotel h
	ON h.hotel_id = r.hotel_id
	WHERE h.hotel_id = @HotelId
	ORDER BY aur.action_date_time;
	RETURN;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[GetBookedRoomsCount]    Script Date: 06.11.2025 14:31:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GetBookedRoomsCount](
	@RoomId INT,
	@StartDate DATE,
	@EndDate DATE
)
RETURNS INT
AS
BEGIN
	DECLARE @Result INT;
	SELECT @Result = COUNT(room_id)
			FROM AppUserRoom
			WHERE room_id = @RoomId AND (
			(@StartDate < end_date AND @EndDate > start_date)
			OR @StartDate = start_date
			OR @EndDate = end_date);
	RETURN @Result;
END
GO
/****** Object:  UserDefinedFunction [dbo].[GetHotelName]    Script Date: 06.11.2025 14:31:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[GetHotelName](
	@HotelId INT
)
RETURNS NVARCHAR(100)
AS
BEGIN
	DECLARE @HotelName NVARCHAR(100)
	SELECT @HotelName = hotel_name
	FROM Hotel
	WHERE hotel_id = @HotelId;
	RETURN @HotelName;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[GetHotelsWithCheapestRoom]    Script Date: 06.11.2025 14:31:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[GetHotelsWithCheapestRoom](
	@StartDate DATE,
	@EndDate DATE,
	@PageNumber INT,
	@PageSize INT,
	@GuestsNumber INT
)
RETURNS @Result TABLE(
	hotel_id INT,
	hotel_name NVARCHAR(100),
	hotel_city NVARCHAR(200),
	room_id INT,
	room_name NVARCHAR(200),
	room_price INT
)
AS
BEGIN
	IF @StartDate >= @EndDate
	OR @PageNumber <= 0
	OR @PageSize <= 0
		RETURN;
	INSERT INTO @Result (hotel_id, hotel_name, hotel_city, room_id, room_name, room_price)
	SELECT h.hotel_id, h.hotel_name, h.hotel_city, r.room_id, r.room_name, r.room_price
	FROM Hotel h
	CROSS APPLY (
		SELECT TOP 1 r.room_id, r.room_name, r.room_price
		FROM Room r
		WHERE r.hotel_id = h.hotel_id
		AND (@GuestsNumber IS NULL OR r.guests_number = @GuestsNumber)
		AND r.room_quantity > dbo.GetBookedRoomsCount(r.room_id, @StartDate, @EndDate)
		ORDER BY r.room_price
	) AS r
	ORDER BY r.room_price
	OFFSET @PageSize * (@PageNumber - 1) ROWS
	FETCH NEXT @PageSize ROWS ONLY;
	RETURN;
END
GO
/****** Object:  UserDefinedFunction [dbo].[GetHotelsWithMostExpensiveRoom]    Script Date: 06.11.2025 14:31:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[GetHotelsWithMostExpensiveRoom](
	@StartDate DATE,
	@EndDate DATE,
	@PageNumber INT,
	@PageSize INT,
	@GuestsNumber INT
)
RETURNS @Result TABLE(
	hotel_id INT,
	hotel_name NVARCHAR(100),
	hotel_city NVARCHAR(200),
	room_id INT,
	room_name NVARCHAR(200),
	room_price INT
)
AS
BEGIN
	IF @StartDate > @EndDate
		RETURN;
	INSERT INTO @Result (hotel_id, hotel_name, hotel_city, room_id, room_name, room_price)
	SELECT h.hotel_id, h.hotel_name, h.hotel_city, r.room_id, r.room_name, r.room_price
	FROM Hotel h
	CROSS APPLY (
		SELECT TOP 1 r.room_id, r.room_name, r.room_price
		FROM Room r
		WHERE r.hotel_id = h.hotel_id
		AND (@GuestsNumber IS NULL OR r.guests_number = @GuestsNumber)
		AND r.room_quantity > dbo.GetBookedRoomsCount(r.room_id, @StartDate, @EndDate)
		ORDER BY r.room_price DESC
	) AS r
	ORDER BY r.room_price DESC
	OFFSET @PageSize * (@PageNumber - 1) ROWS
	FETCH NEXT @PageSize ROWS ONLY;
	RETURN;
END
GO
/****** Object:  UserDefinedFunction [dbo].[GetRoomBookingsByHotel]    Script Date: 06.11.2025 14:31:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[GetRoomBookingsByHotel](
	@AppUserId INT,
	@HotelId INT
)
RETURNS @Result TABLE(
	start_date DATE,
	end_date DATE,
	room_name NVARCHAR(200),
	app_user_fullname NVARCHAR(150),
	app_user_email VARCHAR(254),
	phone_number VARCHAR(20),
	bookings_total_count INT
)
AS
BEGIN
	IF NOT EXISTS (
		SELECT 1 
		FROM AppUser u 
		JOIN Hotel h
		ON u.app_user_id = h.app_user_id
		WHERE u.app_user_id = @AppUserId
		AND h.hotel_id = @HotelId)
	BEGIN
		RETURN;
	END
	INSERT INTO @Result (start_date, end_date, room_name, app_user_fullname, app_user_email, phone_number, bookings_total_count)
	SELECT ur.start_date, ur.end_date, r.room_name, u.app_user_fullname, u.app_user_email, u.phone_number,
	(SELECT COUNT(app_user_id) FROM AppUserRoom WHERE u.app_user_id = @AppUserId AND h.hotel_id = @HotelId)
	FROM AppUserRoom ur
	JOIN Room r
	ON ur.room_id = r.room_id
	JOIN Hotel h
	ON h.hotel_id = r.hotel_id
	JOIN AppUser u
	ON u.app_user_id = ur.app_user_id
	WHERE h.hotel_id = @HotelId
	AND ur.start_date >= CAST(GETDATE() AS DATE)
	ORDER BY ur.start_date;
	RETURN;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[GetRoomInformation]    Script Date: 06.11.2025 14:31:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[GetRoomInformation](
    @BookingCountLessThan INT,
    @EachNRoom INT,
    @StartDate DATE,
    @EndDate DATE
)
RETURNS @Result TABLE(
    room_name NVARCHAR(150),
    room_price INT,
    guests_number INT
)
AS
BEGIN
    DECLARE Cur CURSOR SCROLL FOR
    SELECT r.room_name, r.room_price, r.guests_number
    FROM Room r
    JOIN AppUserRoom ur
        ON r.room_id = ur.room_id
    WHERE @StartDate <= ur.start_date AND @EndDate >= ur.end_date
    GROUP BY 
        r.room_name,
        r.room_price,
        r.guests_number
    HAVING COUNT(ur.room_id) < @BookingCountLessThan
    ORDER BY r.room_name;

    DECLARE @RoomName NVARCHAR(150);
    DECLARE @RoomPrice INT;
    DECLARE @GuestsNumber INT;

    OPEN Cur;

    FETCH RELATIVE @EachNRoom FROM Cur INTO @RoomName, @RoomPrice, @GuestsNumber;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        INSERT INTO @Result(room_name, room_price, guests_number)
        VALUES (@RoomName, @RoomPrice, @GuestsNumber);

        FETCH RELATIVE @EachNRoom FROM Cur INTO @RoomName, @RoomPrice, @GuestsNumber;
    END

    CLOSE Cur;
    DEALLOCATE Cur;

    RETURN;
END
GO
/****** Object:  UserDefinedFunction [dbo].[GetUserInformation]    Script Date: 06.11.2025 14:31:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[GetUserInformation](
	@BookingCountLessThan INT,
	@EachNUser INT,
	@StartDate DATE,
	@EndDate DATE
)
RETURNS @Result TABLE(
	app_user_fullname NVARCHAR(150),
	app_user_email NVARCHAR(254),
	phone_number VARCHAR(20)
)
AS
BEGIN
	DECLARE Cur CURSOR FOR
	SELECT u.app_user_fullname, u.app_user_email, u.phone_number FROM AppUser u
	JOIN AppUserRoom ur
	ON u.app_user_id = ur.app_user_id
	WHERE @StartDate <= ur.start_date AND @EndDate >= ur.end_date
	GROUP BY 
    u.phone_number,
    u.app_user_fullname,
    u.app_user_email
	HAVING COUNT(u.app_user_id) < @BookingCountLessThan
	ORDER BY u.app_user_fullname;
	DECLARE @Fullname NVARCHAR(150);
	DECLARE @Email NVARCHAR(254);
	DECLARE @Phone NVARCHAR(20);
	OPEN cur;

	FETCH RELATIVE @EachNUser FROM Cur INTO @Fullname, @Email, @Phone;

	WHILE @@FETCH_STATUS = 0
	BEGIN
		INSERT INTO @Result(app_user_fullname, app_user_email, phone_number)
		VALUES (@Fullname, @Email, @Phone);
		FETCH RELATIVE @EachNUser FROM Cur INTO @Fullname, @Email, @Phone;
	END

	CLOSE cur;

	DEALLOCATE cur;

	RETURN;
END
GO
/****** Object:  UserDefinedFunction [dbo].[Login]    Script Date: 06.11.2025 14:31:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[Login](
	@Email NVARCHAR(254),
	@Password NVARCHAR(30)
)
RETURNS INT
AS
BEGIN
	IF @Email NOT LIKE '_%@_%'
		RETURN NULL;
	DECLARE @AppUserId INT;
	SELECT @AppUserId = app_user_id 
	FROM AppUser
	WHERE app_user_email = @Email 
	AND password_hash = HASHBYTES('SHA2_256', CAST(@Password AS VARBINARY) + password_salt);
	RETURN @AppUserId;
END;
GO
/****** Object:  Table [dbo].[AppUser]    Script Date: 06.11.2025 14:31:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppUser](
	[app_user_id] [int] IDENTITY(1,1) NOT NULL,
	[app_user_fullname] [nvarchar](150) NOT NULL,
	[app_user_email] [nvarchar](254) NOT NULL,
	[password_hash] [varbinary](32) NULL,
	[password_salt] [varbinary](32) NULL,
	[phone_number] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[app_user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[GetAppUser]    Script Date: 06.11.2025 14:31:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[GetAppUser](
	@AppUserId INT
)
RETURNS TABLE
AS
RETURN(
	SELECT app_user_id, app_user_fullname, app_user_email, phone_number
	FROM AppUser
	WHERE app_user_id = @AppUserId
);
GO
/****** Object:  Table [dbo].[Hotel]    Script Date: 06.11.2025 14:31:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hotel](
	[hotel_id] [int] IDENTITY(1,1) NOT NULL,
	[hotel_name] [nvarchar](100) NOT NULL,
	[hotel_description] [nvarchar](3000) NOT NULL,
	[hotel_city] [nvarchar](200) NOT NULL,
	[app_user_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[hotel_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[GetHotel]    Script Date: 06.11.2025 14:31:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[GetHotel](
	@HotelId INT
)
RETURNS TABLE
AS
RETURN(
	SELECT hotel_name, hotel_description, hotel_city
	FROM Hotel
	WHERE hotel_id = @HotelId
);
GO
/****** Object:  Table [dbo].[Room]    Script Date: 06.11.2025 14:31:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Room](
	[room_id] [int] IDENTITY(1,1) NOT NULL,
	[room_name] [nvarchar](200) NOT NULL,
	[room_price] [int] NOT NULL,
	[room_quantity] [int] NOT NULL,
	[guests_number] [int] NOT NULL,
	[room_size] [decimal](5, 2) NULL,
	[hotel_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[room_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[GetRoom]    Script Date: 06.11.2025 14:31:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[GetRoom](
	@RoomId INT
)
RETURNS TABLE
AS
RETURN (
	SELECT room_id, room_name, room_price, room_size, room_quantity, guests_number
	FROM Room
	WHERE room_id = @RoomId
);
GO
/****** Object:  Table [dbo].[AppUserRoom]    Script Date: 06.11.2025 14:31:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppUserRoom](
	[app_user_id] [int] NOT NULL,
	[room_id] [int] NOT NULL,
	[start_date] [date] NOT NULL,
	[end_date] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[app_user_id] ASC,
	[room_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[GetRoomBookingsByUser]    Script Date: 06.11.2025 14:31:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[GetRoomBookingsByUser](
	@AppUserId INT
)
RETURNS TABLE
AS
RETURN (
	SELECT ur.start_date, ur.end_date, h.hotel_name, r.room_name, h.hotel_id, r.room_id
	FROM AppUserRoom ur
	JOIN Room r
	ON ur.room_id = r.room_id
	JOIN Hotel h
	ON h.hotel_id = r.hotel_id
	WHERE ur.app_user_id = @AppUserId
);
GO
/****** Object:  UserDefinedFunction [dbo].[GetRoomBooking]    Script Date: 06.11.2025 14:31:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GetRoomBooking](
	@AppUserId INT,
	@RoomId INT
)
RETURNS TABLE
AS
RETURN(
	SELECT start_date, end_date
	FROM AppUserRoom
	WHERE app_user_id = @AppUserId
	AND room_id = @RoomId
);
GO
/****** Object:  UserDefinedFunction [dbo].[GetHotelsByUser]    Script Date: 06.11.2025 14:31:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[GetHotelsByUser](
	@AppUserId INT
)
RETURNS TABLE
AS
RETURN (
	SELECT h.hotel_id, h.hotel_name, h.hotel_city, 
	ISNULL((SELECT SUM(room_quantity) FROM Room WHERE hotel_id = h.hotel_id), 0) AS total_room_count
	FROM Hotel h
	WHERE h.app_user_id = @AppUserId
);
GO
/****** Object:  UserDefinedFunction [dbo].[GetRoomsByHotel]    Script Date: 06.11.2025 14:31:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[GetRoomsByHotel](
	@HotelId INT,
	@StartDate DATE,
	@EndDate DATE,
	@GuestsNumber INT
)
RETURNS TABLE
AS
RETURN (
	SELECT room_id, room_name, room_price, room_size, room_quantity, guests_number
	FROM Room
	WHERE hotel_id = @HotelId
	AND (
		(@StartDate IS NULL AND @EndDate IS NULL)
		OR room_quantity > dbo.GetBookedRoomsCount(room_id, @StartDate, @EndDate)
	)
	AND (
		(@GuestsNumber IS NULL)
		OR guests_number = @GuestsNumber
	)
);
GO
/****** Object:  Table [dbo].[AuditAppUserRoom]    Script Date: 06.11.2025 14:31:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditAppUserRoom](
	[audit_app_user_room_id] [int] IDENTITY(1,1) NOT NULL,
	[app_user_id] [int] NULL,
	[room_id] [int] NULL,
	[action_type] [varchar](10) NULL,
	[action_date_time] [datetime2](7) NULL,
	[old_start_date] [date] NULL,
	[new_start_date] [date] NULL,
	[old_end_date] [date] NULL,
	[new_end_date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[audit_app_user_room_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AppUserRoom]  WITH CHECK ADD FOREIGN KEY([app_user_id])
REFERENCES [dbo].[AppUser] ([app_user_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AppUserRoom]  WITH CHECK ADD FOREIGN KEY([room_id])
REFERENCES [dbo].[Room] ([room_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Hotel]  WITH CHECK ADD FOREIGN KEY([app_user_id])
REFERENCES [dbo].[AppUser] ([app_user_id])
GO
ALTER TABLE [dbo].[Room]  WITH CHECK ADD FOREIGN KEY([hotel_id])
REFERENCES [dbo].[Hotel] ([hotel_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AppUser]  WITH CHECK ADD CHECK  (([app_user_email] like '_%@_%'))
GO
ALTER TABLE [dbo].[AppUser]  WITH CHECK ADD  CONSTRAINT [CK_Customers_Phone] CHECK  ((NOT [phone_number] like '%[^0-9+]%'))
GO
ALTER TABLE [dbo].[AppUser] CHECK CONSTRAINT [CK_Customers_Phone]
GO
/****** Object:  StoredProcedure [dbo].[BookRoom]    Script Date: 06.11.2025 14:31:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[BookRoom]
	@AppUserId INT,
	@RoomId INT,
	@StartDate DATE,
	@EndDate DATE
AS
BEGIN
	IF dbo.GetBookedRoomsCount(@RoomId, @StartDate, @EndDate) >= (SELECT room_quantity FROM Room WHERE room_id = @RoomId)
		THROW 50015, 'All rooms already booked on this date', 1;
	IF EXISTS(
		SELECT 1 
		FROM AppUserRoom
		WHERE app_user_id = @AppUserId
		AND room_id = @RoomId
	)
		THROW 50016, 'Booking already exists', 1;
	INSERT INTO AppUserRoom (app_user_id, room_id, start_date, end_date)
	OUTPUT inserted.app_user_id, inserted.room_id, inserted.start_date, inserted.end_date
	VALUES (@AppUserId, @RoomId, @StartDate, @EndDate);
END
GO
/****** Object:  StoredProcedure [dbo].[CreateHotel]    Script Date: 06.11.2025 14:31:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[CreateHotel]
	@AppUserId INT,
	@HotelName NVARCHAR(100),
	@HotelDescription NVARCHAR(3000),
	@HotelCity NVARCHAR(200)
AS
BEGIN
	IF @HotelName IS NULL OR LEN(@HotelName) = 0
	BEGIN
		THROW 50002, 'Hotel name cannot be null or empty', 1;
	END
	IF @HotelCity IS NULL OR LEN(@HotelCity) = 0
	BEGIN
		THROW 50003, 'Hotel city cannot be null or empty', 1;
	END
	IF NOT EXISTS (SELECT 1 FROM AppUser WHERE app_user_id = @AppUserId)
	BEGIN
		THROW 50004, 'User not found', 1;
	END
	INSERT INTO Hotel (hotel_name, hotel_description, hotel_city, app_user_id)
	OUTPUT inserted.hotel_id, inserted.app_user_id, inserted.hotel_name, inserted.hotel_description, inserted.hotel_city
	VALUES (@HotelName, @HotelDescription, @HotelCity, @AppUserId);
END;
GO
/****** Object:  StoredProcedure [dbo].[CreateRoom]    Script Date: 06.11.2025 14:31:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[CreateRoom]
	@RoomName NVARCHAR(200),
	@RoomPrice INT,
	@RoomQuantity INT,
	@GuestsNumber INT,
	@RoomSize DECIMAL(5, 2),
	@HotelId INT,
	@AppUserId INT
AS
BEGIN
	IF @RoomName IS NULL OR LEN(@RoomName) = 0
	BEGIN
		THROW 50005, 'Room name cannot be null or empty', 1;
	END
	IF @RoomPrice IS NULL OR @RoomPrice <= 0
	BEGIN
		THROW 50006, 'Room price cannot be null, equal or less than 0', 1;
	END
	IF @RoomQuantity IS NULL OR @RoomQuantity <= 0
	BEGIN
		THROW 50007, 'Room quantity cannot be null, equal or less than 0', 1;
	END
	IF @GuestsNumber IS NULL OR @GuestsNumber <= 0
	BEGIN
		THROW 50008, 'Guests number cannot be null, equal or less than 0', 1;
	END
	IF @RoomSize IS NULL OR @RoomSize <= 0
	BEGIN
		THROW 50009, 'Room size cannot be null, equal or less than 0', 1;
	END
	IF NOT EXISTS (
		SELECT 1 
		FROM AppUser u 
		JOIN Hotel h
		ON u.app_user_id = h.app_user_id
		WHERE u.app_user_id = @AppUserId
		AND h.hotel_id = @HotelId)
	BEGIN
		THROW 50010, 'The hotel owned by this user cannot be found.', 1;
	END
	INSERT INTO Room (room_name, room_price, room_quantity, guests_number, room_size, hotel_id)
	OUTPUT inserted.room_id, inserted.room_name, inserted.room_price, inserted.room_quantity, inserted.guests_number, inserted.room_size, inserted.hotel_id
	VALUES(@RoomName, @RoomPrice, @RoomQuantity, @GuestsNumber, @RoomSize, @HotelId);
END;
GO
/****** Object:  StoredProcedure [dbo].[DeleteHotel]    Script Date: 06.11.2025 14:31:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[DeleteHotel]
	@HotelId INT,
	@AppUserId INT
AS
BEGIN
	IF NOT EXISTS (
		SELECT 1 
		FROM AppUser u 
		JOIN Hotel h
		ON u.app_user_id = h.app_user_id
		WHERE u.app_user_id = @AppUserId
		AND h.hotel_id = @HotelId)
	BEGIN
		THROW 50001, 'The hotel owned by this user cannot be found.', 1;
	END
	DELETE FROM Hotel
	WHERE hotel_id = @HotelId
	AND app_user_id = @AppUserId;
	RETURN 0;
END;
GO
/****** Object:  StoredProcedure [dbo].[DeleteRoom]    Script Date: 06.11.2025 14:31:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[DeleteRoom]
	@RoomId INT,
	@AppUserId INT
AS
BEGIN
	IF NOT EXISTS (
		SELECT 1 
		FROM AppUser u 
		JOIN Hotel h
		ON u.app_user_id = h.app_user_id
		JOIN Room r
		ON h.hotel_id = r.hotel_id
		WHERE u.app_user_id = @AppUserId
		AND r.room_id = @RoomId)
	BEGIN
		THROW 50011, 'A room that belongs to this hotel and owned by this user cannot be found.', 1;
	END
	DELETE FROM Room
	WHERE room_id = @RoomId;
	RETURN 0;
END;
GO
/****** Object:  StoredProcedure [dbo].[DeleteRoomBooking]    Script Date: 06.11.2025 14:31:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[DeleteRoomBooking]
	@AppUserId INT,
	@RoomId INT
AS
BEGIN
	DELETE FROM AppUserRoom
	WHERE app_user_id = @AppUserId 
	AND room_id = @RoomId
END
GO
/****** Object:  StoredProcedure [dbo].[Register]    Script Date: 06.11.2025 14:31:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[Register]
	@Fullname NVARCHAR(150),
	@Email NVARCHAR(254),
	@PhoneNumber VARCHAR(20),
	@Password NVARCHAR(30)
AS
BEGIN
	IF @PhoneNumber LIKE '%[^0-9+]%'
		THROW 50021, 'Phone number must contain only + and digits', 1;
	IF @Email NOT LIKE '_%@_%'
		THROW 50022, 'Email must contain @', 1;
	DECLARE @ExistEmail NVARCHAR(254);
	DECLARE @ExistPhone VARCHAR(20);
	SELECT @ExistEmail = app_user_email, @ExistPhone = phone_number
	FROM AppUser 
	WHERE app_user_email = @Email OR phone_number = @PhoneNumber;
	IF @ExistEmail = @Email AND @ExistPhone = @PhoneNumber
		THROW 50012, 'User with this email and phone already exists', 1;
	IF @ExistEmail = @Email
		THROW 50013, 'User with this email already exists', 1;
	IF @ExistPhone = @PhoneNumber
		THROW 50014, 'User with this phone number already exists', 1;
	DECLARE @PasswordHash BINARY(32);
	DECLARE @Salt BINARY(32);
	SET @Salt = CRYPT_GEN_RANDOM(32);
	SET @PasswordHash = HASHBYTES('SHA2_256', CAST(@Password AS VARBINARY) + @Salt);
	INSERT INTO AppUser (app_user_fullname, app_user_email, phone_number, password_hash, password_salt)
	OUTPUT inserted.app_user_id, inserted.app_user_email, inserted.app_user_fullname, inserted.phone_number
	VALUES (@Fullname, @Email, @PhoneNumber, @PasswordHash, @Salt);
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateHotel]    Script Date: 06.11.2025 14:31:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[UpdateHotel]
	@HotelId INT,
	@AppUserId INT,
	@HotelName NVARCHAR(100),
	@HotelDescription NVARCHAR(3000),
	@HotelCity NVARCHAR(200)
AS
BEGIN
	IF @HotelName IS NULL OR LEN(@HotelName) = 0
	BEGIN
		THROW 50002, 'Hotel name cannot be null or empty', 1;
	END
	IF @HotelCity IS NULL OR LEN(@HotelCity) = 0
	BEGIN
		THROW 50003, 'Hotel city cannot be null or empty', 1;
	END
	IF NOT EXISTS (
		SELECT 1 
		FROM AppUser u 
		JOIN Hotel h
		ON u.app_user_id = h.app_user_id
		WHERE u.app_user_id = @AppUserId
		AND h.hotel_id = @HotelId)
	BEGIN
		THROW 50001, 'The hotel owned by this user cannot be found.', 1;
	END
	UPDATE Hotel 
	SET hotel_name = @HotelName, hotel_description = @HotelDescription, hotel_city = @HotelCity
	WHERE hotel_id = @HotelId
	AND app_user_id = @AppUserId;
	RETURN 0;
END;
GO
/****** Object:  StoredProcedure [dbo].[UpdateRoom]    Script Date: 06.11.2025 14:31:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[UpdateRoom]
	@RoomId INT,
	@RoomName NVARCHAR(200),
	@RoomPrice INT,
	@RoomQuantity INT,
	@GuestsNumber INT,
	@RoomSize DECIMAL(5, 2),
	@AppUserId INT
AS
BEGIN
	IF @RoomName IS NULL OR LEN(@RoomName) = 0
	BEGIN
		THROW 50005, 'Room name cannot be null or empty', 1;
	END
	IF @RoomPrice IS NULL OR @RoomPrice <= 0
	BEGIN
		THROW 50006, 'Room price cannot be null, equal or less than 0', 1;
	END
	IF @RoomQuantity IS NULL OR @RoomQuantity <= 0
	BEGIN
		THROW 50007, 'Room quantity cannot be null, equal or less than 0', 1;
	END
	IF @GuestsNumber IS NULL OR @GuestsNumber <= 0
	BEGIN
		THROW 50008, 'Guests number cannot be null, equal or less than 0', 1;
	END
	IF @RoomSize IS NULL OR @RoomSize <= 0
	BEGIN
		THROW 50009, 'Room size cannot be null, equal or less than 0', 1;
	END
	IF NOT EXISTS (
		SELECT 1 
		FROM AppUser u 
		JOIN Hotel h
		ON u.app_user_id = h.app_user_id
		JOIN Room r
		ON h.hotel_id = r.hotel_id
		WHERE u.app_user_id = @AppUserId
		AND r.room_id = @RoomId)
	BEGIN
		THROW 50011, 'A room that belongs to this hotel and owned by this user cannot be found.', 1;
	END
	UPDATE Room
	SET room_name = @RoomName, 
	room_quantity = @RoomQuantity,
	guests_number = @GuestsNumber,
	room_size = @RoomSize
	WHERE room_id = @RoomId;
	RETURN 0;
END;
GO
/****** Object:  StoredProcedure [dbo].[UpdateRoomBooking]    Script Date: 06.11.2025 14:31:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[UpdateRoomBooking]
	@AppUserId INT,
	@RoomId INT,
	@StartDate DATE,
	@EndDate DATE
AS
BEGIN
	IF dbo.GetBookedRoomsCount(@RoomId, @StartDate, @EndDate) >= (SELECT room_quantity FROM Room WHERE room_id = @RoomId)
		THROW 50015, 'All rooms already booked on this date', 1;
	UPDATE AppUserRoom
	SET start_date = @StartDate, end_date = @EndDate
	WHERE app_user_id = @AppUserId 
	AND room_id = @RoomId
END
GO
USE [master]
GO
