#root {
    margin: 0;
    text-align: center;
    height: 100%;

    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}

    html{
        margin: 0px;
        padding: 0px;
        height: 100%;
    }

    body {
        margin: 0.5rem 2rem 0.5rem 2rem;
        max-height: 100%;
    }

main{
    margin: 0px 10rem 0px 10rem;
}